#heading
{
    width :100%; 
    height:200px;
    border: 0.000001px solid black; 
    background-color:rgb(176,196,222);
}
#logo
{
	margin-top: 1%; 
	margin-left: 10px;
    position:absolute; 
}
h1 
{
	text-align: center; 
	font-family: cambria;
	font-size: 50px;
}
body
{
	font-family: cambria;
    padding: 0; 
    margin:0;
}
h2
{
	text-align: center; 
	font-family: cambria; 
	font-size: 40px;
}
table
{
	width: 45%;
	border-radius: 15px;
	padding: 3%;
	border: 3px solid black;
	margin-left: auto; 
	margin-right: auto;
}
#input
{
	width: 25%;
	font-family: cambria; 
	font-size: 25px;
}
input
{
	font-family: cambria; 
	font-size: 25px; 
	margin-bottom: 10px;
}
#submit
{
	background: transparent;
	width: 100%; 
	font-size: 25px; 
	font-family: cambria; 
	height: 45px;
	transition-duration: 0.3s;
}
#submit:hover,#signup:hover
{
	background:rgb(176,196,222)
}
#signup
{
	background: transparent;
	width: 100%; 
	font-size:20px; 
	font-family: cambria; 
	height: 30px; 
	transition-duration: 0.3s; 
}
#label
{
	width: 10%;
	font-family: cambria; 
	font-size: 25px;
}
#button
{
	width: 30%;
	font-family: cambria; 
	font-size: 25px;
}