<html> 	
	<head> 
		<link rel = "stylesheet" href = "/static/department.css"></link> 
		<link rel = "icon" type = "image/x-icon" href = "/static/logo.png"></link>
		<script src = "/static/login.js"></script>
	</head>
	<body> 
		<a href = "{{url_for ('home')}}">
			<img src = "/static/logo.png" height = "auto" width = "8%" id = "logo"></img>
		</a>
        <div id = "heading">
            <h1 id = "title">Lin Lao Super </h1>
			<a href = "{{url_for('cart')}}" id = "Hypercart">
				<img src = "/static/cart.png" height = "auto" width = "8%" id = "cart"></img>
			<a>
			<a href = "{{url_for('profile')}}" id = "hyperprofile">
				<img src = "/static/profile.png" height = "auto" width = "8%" id = "profile"></img>
			</a>
        </div>
		<table id = "items">
			<tr>
				<th id = "title " colspan = "4"> 
					<u><h2>Produce</h2></u>
				</th>
			<tr>
			<tr>
				<td id = "item"> 
					<a href = "/produce_tomatoes">
						<img src = "/static/produce_images/tomatoes.png" height = "auto" width = "75%" id = "img"></img>
					</a>
				</td>
				<td id = "item">
					<a href = "/produce_broccoli">
						<img src = "/static/produce_images/broccoli.png" height = "auto" width = "75%" id = "img"></img>
					</a>
				</td>
				<td id = "item">
					<a href = "/produce_lettuce">
						<img src = "/static/produce_images/lettuce.png" height = "auto" width = "95%" id = "img"></img>
					</a>
				</td> 
				<td id = "item">	
					<a href = "/produce_eggplant">
						<img src = "/static/produce_images/eggplant.png" height = "auto" width = "70%" id = "img"></img>
					</a>
				</td>
			</tr>
			<tr>
				<td id = "name"> 
					<a href = "/produce_tomatoes">{{produce[0]}} for ${{price[0]}}/lb</a>
				</td>
				<td id = "name">
					<a href = "/produce_broccoli">{{produce[1]}} for ${{price[1]}}/lb</a>
				</td>
				<td id = "name">
					<a href = "/produce_lettuce">{{produce[2]}} for ${{price[2]}}/lb </a>
				</td> 
				<td id = "name">	
					<a href = "/produce_eggplant">{{produce[3]}} for ${{price[3]}}/lb</a>
				</td>
			</tr>
			<tr>
				<td id = "item"> 
					<a href = "/produce_apple">
						<img src = "/static/produce_images/apple.png" height = "auto" width = "75%" id = "img"></img>
					</a>
				</td>
				<td id = "item">
					<a href = "/produce_oranage">
						<img src = "/static/produce_images/orange.png" height = "auto" width = "75%" id = "img"></img>
					</a>
				</td>
				<td id = "item">
					<a href = "/produce_lemons">
						<img src = "/static/produce_images/lemons.png" height = "auto" width = "75%" id = "img"></img>
					</a>
				</td> 
				<td id = "item">	
					<a href = "/produce_limes">
						<img src = "/static/produce_images/limes.png" height = "auto" width = "75%" id = "img"></img>
					</a>
				</td>
			</tr>
			<tr>
				<td id = "name"> 
					<a href = "/produce_apple">{{produce[4]}} for ${{price[4]}}/lb</a>
				</td>
				<td id = "name">
					<a href = "/produce_oranage">{{produce[5]}} for ${{price[5]}}/lb</a>
				</td>
				<td id = "name">
					<a href = "/produce_lemons">{{produce[6]}} for ${{price[6]}}/lb</a>
				</td> 
				<td id = "name">	
					<a href = "/produce_limes">{{produce[7]}} for ${{price[7]}}/lb</a>
				</td>	
			</tr>
		</table>
	</body> 
</html>