<html> 	
	<head> 
		<link rel = "stylesheet" href = "/static/checkout.css"></link> 
		<link rel = "icon" type = "image/x-icon" href = "/static/logo.png"></link>
		<script src = "/static/checkout.js"></script>
	</head>
	<body> 
		<a href = "{{url_for ('home')}}">
			<img src = "/static/logo.png" height = "auto" width = "8%" id = "logo"></img>
		</a>
        <div id = "heading">
            <h1 id = "title">Lin Lao Super </h1>
			<a href = "{{url_for('cart')}}" id = "Hypercart">
				<img src = "/static/cart.png" height = "auto" width = "8%" id = "cart"></img>
			<a>
			<a href = "{{url_for('profile')}}" id = "hyperprofile">
				<img src = "/static/profile.png" height = "auto" width = "8%" id = "profile"></img>
			<a>
        </div>
		<table id = "reciept"> 
			{% for i in range(0,length) %} 
				<tr> 
					<td id = "reciept_data"> 
						<label>{{reciept[i]}}</label>
					</td> 	
				</tr> 
			{%endfor%}
		</table>
		<form method = "Get">
			<table id = "checkout"> 
				<tr> 
					<td id = "info"> 
						<label>Credit Card Number:  </label>
					</td>
					<td id = "info"> 
						<input id = "credit" name = "credit" autofocus></input>
					</td>
				</tr> 
				<tr> 
					<td id = "info"> 
						<label>3 Digit CCV Number: </label> 
					</td>
					<td id = "info"> 
						<input id = "ccv" name = "ccv"></input>
					</td>
				</tr>
				<tr> 
					<td id = "info"> 
						<label> Card Holder Name: </label> 
					</td>
					<td id = "info"> 
						<input id = "name" name = "name"></input>
					</td>
				</tr>
				<tr> 
					<td id = "info"> 
						<label>Phone Number: </label> 
					</td>
					<td id = "info"> 
						<input id = "phone" name = "phone"></input>
					</td> 
				</tr>
				<tr> 
					<td id = "info"> 
						<button id = "submit">Checkout</button>
					</td>
				</tr> 
			</table>
		</form>
	</body> 
</html>