<html> 	
	<head> 
		<link rel = "stylesheet" href = "/static/department.css"></link> 
		<link rel = "icon" type = "image/x-icon" href = "/static/logo.png"></link>
		<script src = "/static/login.js"></script>
	</head>
	<body> 
		<a href = "{{url_for ('home')}}">
			<img src = "/static/logo.png" height = "auto" width = "8%" id = "logo"></img>
		</a>
        <div id = "heading">
            <h1 id = "title">Lin Lao Super </h1>
			<a href = "{{url_for('profile')}}" id = "hyperprofile">
				<img src = "/static/profile.png" height = "auto" width = "8%" id = "profile"></img>
			</a>
        </div>
	</body> 
</html>